second_year/projects/G-AIA-410-COT-4-1-persona-8/Register.json
{
  "name": "Register",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 100,
        "where": {
          "values": [
            {
              "column": "username",
              "value": "={{ $json.username }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        496
      ],
      "id": "468c05a6-420d-4cd2-bc4e-1c379a96092c",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "hdp80daQHiKSjXlT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bf125e56-6969-47b4-9999-4dba490ba230",
              "leftValue": "={{ Object.keys($('Select rows from a table').first().json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        496
      ],
      "id": "61ceaee3-e3a1-443f-ae62-d641bff8b400",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const triggerData = $('When Executed by Another Workflow').first().json;\nconst password = triggerData.password;\nconst username = triggerData.username;\nconst email = triggerData.email;\n\nlet hash = 0;\nfor (let i = 0; i < password.length; i++) {\n  const char = password.charCodeAt(i);\n  hash = ((hash << 5) - hash) + char;\n  hash = hash & hash;\n}\nconst hashedPassword = Math.abs(hash).toString(16);\n\nreturn [{\n  json: {\n    username: username,\n    email: email,\n    hashedPassword: hashedPassword\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        400
      ],
      "id": "a54e38b6-f372-46a9-a259-e403e4c29535",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "username": "={{ $json.username }}",
            "password": "={{ $json.hashedPassword }}",
            "schedule": "08:00",
            "topics": "''"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "topics",
              "displayName": "topics",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "schedule",
              "displayName": "schedule",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true
            },
            {
              "id": "create_at",
              "displayName": "create_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        400
      ],
      "id": "8847a3e6-1f65-4f85-adc4-8e7c385aadd8",
      "name": "Insert rows in a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "hdp80daQHiKSjXlT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "username"
            },
            {
              "name": "email"
            },
            {
              "name": "password"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        496
      ],
      "id": "ddb33bd7-37b6-4b78-bcc7-a383976d214b",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OQ9HBg7dHbjbkSkq",
          "mode": "list",
          "cachedResultUrl": "/workflow/OQ9HBg7dHbjbkSkq",
          "cachedResultName": "create_session"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $json.id }}"
          },
          "matchingColumns": [
            "userId"
          ],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        720,
        400
      ],
      "id": "ecc359f0-2dc4-486b-8c42-c0a5a69fb7d5",
      "name": "Call 'create_session'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0ca6852-d513-4b7c-bd81-3a92268d5a21",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "cd4f3128-011e-49f4-837e-c1d4a40efac4",
              "name": "username",
              "value": "={{ $('Code in JavaScript').first().json.username }}",
              "type": "string"
            },
            {
              "id": "cfdecc91-dded-4703-8610-840e79a0aa0e",
              "name": "userId",
              "value": "={{ $('Insert rows in a table').first().json.id }}",
              "type": "number"
            },
            {
              "id": "63f03968-1133-4e29-b707-1483f744dddc",
              "name": "token",
              "value": "={{ $json.token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        400
      ],
      "id": "b4f36a54-3bc3-4e24-a8e2-08ab5a598416",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"success\": false,\n  \"reason\": \"Username already taken\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        592
      ],
      "id": "0d3f32ff-4544-4946-9dab-75db542ab444",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Call 'create_session'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'create_session'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3a386b4b-a3cc-41e1-a7ec-6514314bf077",
  "meta": {
    "instanceId": "8ca64be11eacf931fdc58eea5eadbb29716cf0ef8eaf64d268675758115bebef"
  },
  "nodeGroups": [],
  "id": "5AhSncNIIO6sCfI4",
  "tags": []
}